
<br />
<br />
<br />
<div id="carouselBlk">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <a href="/Account/Register">
                        <img style="width:100%" src="~/Content/Images/red-rose-4304139_960_720_kk.jpg" alt="" />
                    </a>
                    <div class="carousel-caption">
                        <p>RÓŻE</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="/Account/Register">
                        <img style="width:100%" src="~/Content/Images/rose-2900914_960_720_kk.jpg" alt="" />
                    </a>
                    <div class="carousel-caption">
                        <p>RÓŻE</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="/Account/Register">
                        <img style="width:100%" src="~/Content/Images/rose-4269422_960_720_kk.jpg" alt="" />
                    </a>
                    <div class="carousel-caption">
                        <p>RÓŻE</p>
                    </div>

                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
<li>@{Html.RenderAction("CategoryMenu", "Store");}</li>

<h3>Top 10 Produktów:</h3>

    @foreach (var item in Model)
    {
<div>
    <a href="@Url.Action("Details","Store",new { id = item.ItemId })">
        <img alt="@item.Title" src="@item.ItemArtUrl" />
        <br />

        <span>@item.Title</span>
    </a>
    @String.Format("{0:F}", item.Price)
    <button>

        @Html.ActionLink("Add to cart", "AddToCart",
            "ShoppingCart", new { id = item.ItemId }, "")
    </button>
</div>
    }

